<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/e8f09b5de5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/comInfo.css}" />
    <script defer th:src="@{/js/main.js}"></script>
<!--    <script defer th:src="@{/js/comInfo.js}"></script>-->
    <!--    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=z00qc7owtc"></script>-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <title>Semi Project Company Information</title>
</head>
<body>
<header id="header_bar">
    <nav id="nav_bar">
        <div class="main_title">
            <a th:href="@{/}"><i class="fa-solid fa-dog"></i> PetTales</a>
        </div>
        <div class="main_menus">
            <div class="main_menu"><a th:href="@{/}">Home</a></div>
            <div class="main_menu"><a th:href="@{/anno/allList}">공지사항</a></div>
            <div class="main_menu"><a th:href="@{/plan/make_plan}">계획 시작</a></div>
        </div>
        <div class="main_mypage">
            <a href="#"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
        </div>
    </nav>
</header>
<article>
    <div class="myPage_box">
        <ul class="myPage_menus">
            <li sec:authorize="!hasAnyAuthority('ADMIN','USER')" class="myPage_menu"><a th:href="@{/auth/login}">로그인</a></li>
            <li sec:authorize="!hasAnyAuthority('ADMIN','USER')" class="myPage_menu"><a th:href="@{/user/signup}">회원가입</a></li>
            <li sec:authorize="!hasAnyAuthority('ADMIN','USER')" class="myPage_menu"><a th:href="@{/inquiryPage}">문의하기</a></li>
            <li sec:authorize="hasAnyAuthority('ADMIN')" class="myPage_menu"><a th:href="@{/templates/admin22/userstatus}">관리자 페이지</a></li>
            <li sec:authorize="hasAnyAuthority('ADMIN','USER')" class="myPage_menu">마이페이지</li>
            <li sec:authorize="hasAnyAuthority('ADMIN','USER')" class="myPage_menu"><a th:href="@{/auth/logout}">로그아웃</a></li>
        </ul>
    </div>
</article>
<article>
    <form th:action="@{/auth/login}" th:method="POST">
        <div class="loginContainer">
            <div class="loginContents">
                <div class="loginText">로그인</div>
                <div class="inputBoxes">
                    <input type="email" name="user" placeholder="이메일" class="inputEmail" id="user">
                    <input type="password" name="pass" placeholder="비밀번호" class="inputPwd" id="pass">
                </div>
                <div class="etcBtn">
                    <a href="/user/find-pass">비밀번호 찾기</a> |
                    <a href="/user/signup" class="left-margin">회원가입</a>
                </div>
                <div class="loginBtn">
                    <button>로그인</button>
                </div>
            </div>
        </div>
    </form>
</article>



<!--    <div class="back-block">-->
<!--        <div class="signUpEmailDiv">-->
<!--        <input type="email" name="user" placeholder="이메일" id="user" size="60"></p>-->
<!--    </div>-->

<!--    <div class="passwordDiv">-->
<!--        <input type="password" name="pass" placeholder="비밀번호" id="pass" size="60"></p>-->
<!--        <p><a href="/user/find-pass">비밀번호 찾기</a>-->
<!--        <a href="/user/signup" class="left-margin">회원가입</a></p>-->
<!--    </div>-->

<!--    <div class="login-final">-->
<!--        <p><button>로그인</button>-->
<!--    </div>-->

<!--    </div>-->
</body>
</html>