<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/e8f09b5de5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/infoDetail.css}"/>
    <script defer th:src="@{/js/main.js}"></script>
    <title>Company Detail Information</title>
</head>
<body>
<header id="header_bar">
    <nav id="nav_bar">
        <div class="main_title">
            <a th:href="@{/}"><i class="fa-solid fa-dog"></i> PetTales</a>
        </div>
        <div class="main_menus">
            <div class="main_menu"><a th:href="@{/}">Home</a></div>
            <div class="main_menu"><a th:href="@{/anno/allList}">공지사항</a></div>
            <div class="main_menu"><a th:href="@{/plan/make_plan}">계획 시작</a></div>
        </div>
        <div class="main_mypage">
            <a href="#"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
        </div>
    </nav>
</header>
<div id="infoContainer">
    <div class="imagesContainer">
        <div class="firstImg">
            <img th:src="@{/image/picsea-EScCHx_ZR8Y-unsplash.jpg}" alt="">
        </div>
        <div class="gridImgs">
            <img th:src="@{/image/rr-abrot-pNIgH0y3upM-unsplash.jpg}" alt="">
            <img th:src="@{/image/toa-heftiba-6bKpHAun4d8-unsplash.jpg}" alt="">
            <img th:src="@{/image/wade-austin-ellis-NdZxzD9QlSY-unsplash.jpg}" alt="">
            <img th:src="@{/image/daan-evers-tKN1WXrzQ3s-unsplash.jpg}" alt="">
        </div>
    </div>
</div>

<div class="subContainer">
    <div class="comInfoContainer">
        <div id="comDetail"></div>
    </div>
    <div class="reviewContainer"></div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', sendCompanyCode);

    const getCompanyCode = () => {
        return new Promise((resolve, reject) => {
            const urlParams = new URLSearchParams(window.location.search);
            const code = urlParams.get('companyCode'); // company 코드 담아옴
            code ? resolve(code) : reject("Error");
        });
    };

    async function sendCompanyCode() {
        try {
            const companyCode = await getCompanyCode();
            console.log(companyCode);
            const response = await fetch(`http://localhost:8083/api/comDetail?companyCode=${companyCode}`);
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();
            const areaArr = [];
            data.forEach(item => {
                areaArr.push(
                    {
                        name: `${item.companyName}`,
                        address: `${item.companyAddress}`,
                        phone: `${item.companyPhone}`,
                        time: `${item.companyTime}`,
                        url: `${item.companyUrl}`,
                        info: `${item.companyInfo}`
                    }
                )
            })
            // 새로운 div 요소들을 생성합니다.
            var nameDiv = document.createElement('div');
            var addressDiv = document.createElement('div');
            var phoneDiv = document.createElement('div');
            var timeDiv = document.createElement('div');
            var urlDiv = document.createElement('div');
            var infoDiv = document.createElement('div');

            // 각 div에 해당하는 정보를 설정합니다.
            nameDiv.textContent = areaArr[0].name;
            addressDiv.textContent = '주소: ' + areaArr[0].address;
            phoneDiv.textContent = '전화 번호: ' + areaArr[0].phone;
            timeDiv.textContent = '운영 시간: ' + areaArr[0].time;
            urlDiv.textContent = '사이트 주소: ' + areaArr[0].url;
            infoDiv.textContent = '기본 정보: ' + areaArr[0].info;

            // 각 div에 클래스 이름을 추가합니다.
            nameDiv.classList.add('infoName');
            addressDiv.classList.add('infoAddress');
            phoneDiv.classList.add('infoPhone');
            timeDiv.classList.add('infoTime');
            urlDiv.classList.add('infoUrl');
            infoDiv.classList.add('infoInfo');

            const dataById = document.getElementById('comDetail')
            // 각 div를 dataById에 추가합니다.
            dataById.appendChild(nameDiv);
            dataById.appendChild(addressDiv);
            dataById.appendChild(phoneDiv);
            dataById.appendChild(timeDiv);
            dataById.appendChild(urlDiv);
            dataById.appendChild(infoDiv);
            // console.log(areaArr)
            // console.log(areaArr.name)

            // console.log(dataById)
            // dataById.innerHTML = areaArr[0].name+areaArr[0].address+areaArr[0].phone+areaArr[0].time+areaArr[0].url+areaArr[0].info


        } catch (error) {
            console.error('Error Getting Company Detail:', error);
        }
    }

    // async function comDetail(data) {
    //     try {
    //         const companyCode = await getCompanyCode();
    //         console.log(companyCode);
    //
    //         const data = await fetch(`http://localhost:8080/api/comDetail`)
    //             .then(result => result.json())
    //         console.log('data:: ', data)
    //
    //         const areaArr = [];
    //         data.forEach(item => {
    //             areaArr.push(
    //                 {
    //                     name: `${item.companyName}`,
    //                     address: `${item.companyAddress}`,
    //                     phone: `${item.companyPhone}`,
    //                     time: `${item.companyTime}`,
    //                     url: `${item.companyUrl}`,
    //                     info: `${item.companyInfo}`
    //                 }
    //             )
    //         })
    //         console.log(areaArr)
    //     } catch (error) {
    //         console.log('Error Getting Company Detail ', error);
    //     }
    // }
</script>
<footer>
    <div id="footer">
        <div class="comInfo">
            <div class="comLogo"><i class="fa-solid fa-dog"></i></div>
            <div class="comInfo_text">
                <p>
                    주식회사 펫테일 | 대표 김박홍<br>
                    사업자 등록 번호 123-456-78910<br>
                    서울특별시 구로구 경인로 557 삼영빌딩 4층<br>
                    contact@withmung.com<br>
                </p>
            </div>
        </div>
        <div class="etc">
            <p>
                <a href="">이용약관</a> | <a href="">개인정보처리지침</a> | <a href="">고객지원</a> | <a href="">1:1 문의</a>
            </p>
        </div>
        <div class="sns">
            <a th:href="@{http://www.facebook.com}" target="_blank"><i class="fa-brands fa-square-facebook fa-fade"></i></a>
            <a th:href="@{http://www.instagram.com}" target="_blank"><i class="fa-brands fa-instagram fa-fade"></i></a>
            <a th:href="@{http://www.youtube.com}" target="_blank"><i class="fa-brands fa-youtube fa-fade"></i></a>
        </div>
    </div>
</footer>
</body>
</html>