<!DOCTYPE html>
<!DOCTYPE html>
<!-- thymeleaf 프라그먼트 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <div th:each="groupedPlan : ${planList}">
        <h3 th:text="${groupedPlan.planTitle}"></h3>
        <p th:text="${#dates.format(groupedPlan.travelDate, 'yyyy-MM-dd')}"></p>
        <ul>
            <li th:each="index : ${#numbers.sequence(0, groupedPlan.companyNames.size()-1)}">
                <span th:text="${groupedPlan.companyNames[index]}"></span>
                <span th:text="${groupedPlan.companyCtprvns[index]}"></span>
                <span th:text="${groupedPlan.companyClassis[index]}"></span>
            </li>
        </ul>
    </div>

</th:block>
</html>