<!DOCTYPE html>
<!-- thymeleaf 프라그먼트 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
  <div class="contents">
    <form method="get" action="/api/category">
      <label for="regionDropdown">지역 선택:</label>
      <select id="regionDropdown" name="companyCtprvn">
        <!-- 옵션들 추가 -->
      </select>

      <label for="categoryDropdown">카테고리 선택:</label>
      <select id="categoryDropdown" name="companyClassi">
        <!-- 옵션들 추가 -->
      </select>

      <button type="submit">검색</button>
    </form>

    <div class="com_parent_container">
      <div id="result"></div>
      <div id="result-container"></div>
      <div class="favorite_box">
        찜목록
        <div th:each="bookmark : ${bookmark}">
          <p th:text="${bookmark.companyClassi}"></p>
          <p th:text="${bookmark.companyCtprvn}"></p>
          <p th:text="${bookmark.companyName}"></p>
          <button class="bookmarkDeleteBtn" th:data-company-id="${bookmark.companyCode}">삭제</button>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#regionDropdown, #categoryDropdown").change(function () {
        updateData();
      });

      function updateData(page) {
        var selectedRegion = $("#regionDropdown").val();
        var selectedCategory = $("#categoryDropdown").val();

        $.ajax({
          type: "get",
          url: "/api/plan_make",
          data: {
            page: page,
            companyCtprvn: selectedRegion,
            companyClassi: selectedCategory
          },
          success: function (data) {
            renderData(data);
          },
          error: function (xhr, status, error) {
            console.error("데이터 로딩 중 오류 발생:", error);
          }
        });
      }

      function renderData(data) {
        var companies = data.company;
        var paging = data.paging;

        $("#result").empty();
        for (var i = 0; i < companies.length; i++) {
          var comp = companies[i];

          var div = $("<div class='com_box_list'></div>");

          // 북마크 체크 여부에 따라 이미지 변경
          var bookmarkButton;
          if (comp.bookmarkDTO && comp.bookmarkDTO.bookmarked === false) {
            bookmarkButton = $("<img src='/image/heart-regular.svg' class='insertBookmarkBtn' data-company-id='" + comp.companyDTO.companyCode + "'/>");
          } else {
            bookmarkButton = $("<img src='/image/heart-solid.svg' class='insertBookmarkBtn' data-company-id='" + comp.companyDTO.companyCode + "'/>");
          }

          div.append($("<p>companyCode: </p>").text(comp.companyDTO.companyCode));
          div.append($("<p>companyName: </p>").text(comp.companyDTO.companyName));
          div.append($("<p>companyClassi: </p>").text(comp.companyDTO.companyClassi));
          div.append($("<p>companyCtprvn: </p>").text(comp.companyDTO.companyCtprvn));

          console.log("companyDTO:", comp.companyDTO);
          console.log("bookmarkDTO:", comp.bookmarkDTO);

          div.append(bookmarkButton);

          $("#result").append(div);
        }
        renderPaging(paging);
      }

      function renderPaging(paging) {
        $("#result-container").empty();
        var ul = $("<ul class='pagination'></ul>");

        if (paging.startPage > 1) {
          var li = $("<li class='page-item'></li>");
          var a = $("<a class='page-link'>&lt;&lt; 이전</a>").attr("href", "/plan/make_plan?page=" + (paging.startPage - 1)).click(function (e) {
            e.preventDefault();
            updateData(paging.startPage - 1);
          });
          li.append(a);
          ul.append(li);
        }

        for (var i = paging.startPage; i <= paging.endPage; i++) {
          var li = $("<li class='page-item'></li>");
          var a = $("<a class='page-link'></a>").text(i).attr("href", "/plan/make_plan?page=" + i).click(function (page) {
            return function (e) {
              e.preventDefault();
              updateData(page);
            };
          }(i));
          if (i === paging.page) {
            li.addClass("active");
          }
          li.append(a);
          ul.append(li);
        }

        if (paging.endPage < paging.totalPages) {
          var li = $("<li class='page-item'></li>");
          var a = $("<a class='page-link'>다음 &gt;&gt;</a>").attr("href", "/plan/make_plan?page=" + (paging.endPage + 1)).click(function (e) {
            e.preventDefault();
            updateData(paging.endPage + 1);
          });
          li.append(a);
          ul.append(li);
        }

        if (paging.totalPages > paging.endPage) {
          var li = $("<li class='page-item'></li>");
          var a = $("<a class='page-link'>맨 끝으로</a>").attr("href", "/plan/make_plan?page=" + paging.totalPages).click(function (e) {
            e.preventDefault();
            updateData(paging.totalPages);
          });
          li.append(a);
          ul.append(li);
        }

        $("#result-container").append(ul);
      }

      $(document).on('click', '.insertBookmarkBtn', function() {
        let companyCode = $(this).data('company-id');
        console.log(companyCode);
        $.ajax({
          type: "POST",
          url: "/bookmark/toggle",
          data: {
            companyCode : companyCode
          },
          success: function (data) {
            // 서버에서 받은 데이터로 찜목록 부분 업데이트
            location.reload();
          },
          error:function(request, status, error){
            alert("다시 시도해주세요");
          }
        });

      });

      $(document).on('click', '.bookmarkDeleteBtn', function() {
        let companyCode = $(this).data('company-id');
        console.log(companyCode); // 콘솔에 값을 출력하여 확인
        // 여기서 해당 북마크를 삭제하는 로직을 추가
      // $.ajax({
      //     type: "PUT",
      //     url: "/bookmark/delete",
      //     data: {
      //       bookmarkCode : bookmarkCode
      //     },
      //     success: function (data) {
      //       // 서버에서 받은 데이터로 찜목록 부분 업데이트
      //       location.reload();
      //     },
      //     error:function(request, status, error){
      //       alert("다시 시도해주세요");
      //     }
      //   });
      });

    });
  </script>
</th:block>