<!DOCTYPE html>
<!-- thymeleaf 프라그먼트 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

    <div class="bookmark_list_div">
        <div class="bookmark_div" th:each="bookmark, iterStat : ${bookmark}">
            <p th:text="${bookmark.companyCtprvn}"></p>
            <p th:text="${bookmark.companyName}"></p>
            <p th:text="${bookmark.companyClassi}"></p>
            <button class="addBookmarkButton" th:data-bookmark-id="${bookmark.bookmarkCode}">추가</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var addButtonList = document.querySelectorAll('.addBookmarkButton');

            addButtonList.forEach(function (button) {
                button.addEventListener('click', function (event) {
                    var bookmarkCode = event.target.dataset.bookmarkId;

                    // 서버에 데이터 전송
                    fetch('/api/insert_mapping', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ bookmarkCode: bookmarkCode }),
                    })
                        .then(response => response.json())
                        .then(result => {
                            // 서버로부터의 응답 처리
                            if (result < 0) {
                                console.log('실패');
                            } else {
                                console.log('성공');
                                // 성공적으로 추가된 경우에 필요한 작업 수행
                                // 예: 성공 메시지 출력, 화면 갱신 등
                            }
                        })
                        .catch(error => {
                            console.error('에러 발생:', error);
                        });
                });
            });
        });
    </script>

    <div>

    </div>

</th:block>
</html>