<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semiproject.pettales.plan.dao.PlanDAO">
    <resultMap id="planResult" type="com.semiproject.pettales.plan.dto.PlanDTO">
        <id property="planCode" column="PLAN_CODE" />
        <result property="userCode" column="USER_CODE"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="planTitle" column="PLAN_TITLE"/>
        <result property="planStatus" column="PLAN_STATUS"/>
    </resultMap>

    <insert id="insertPlan" parameterType="com.semiproject.pettales.plan.dto.PlanDTO">
        INSERT INTO PLAN_TABLE
        (
            PLAN_CODE,
            USER_CODE,
            PLAN_TITLE,
            START_DATE,
            END_DATE,
            PLAN_STATUS
        )
        VALUES
        (
            NULL,
            #{userCode},
            #{planTitle},
            #{startDate},
            #{endDate},
            'Y'
        )
    </insert>

    <select id="selectPlanByUserCode" resultMap="planResult">
        SELECT
        *
        FROM PLAN_TABLE
        WHERE
        USER_CODE = #{userCode}
    </select>

    <select id="selectPlanByPlanCode" resultMap="planResult">
    SELECT
        *
        FROM PLAN_TABLE
        WHERE
        PLAN_CODE = #{planCode}
        AND
        USER_CODE = #{userCode}
    </select>

</mapper>