<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
  <footer>
    <div id="footer">
      <div class="comInfo">
        <div class="comLogo"><i class="fa-solid fa-dog"></i></div>
        <div class="comInfo_text">
          <p>
            주식회사 펫테일 | 대표 김박홍<br>
            사업자 등록 번호 123-456-78910<br>
            서울특별시 구로구 경인로 557 삼영빌딩 4층<br>
            contact@withmung.com<br>
          </p>
        </div>
      </div>
      <div class="etc">
        <p>
          <a href="">이용약관</a> | <a href="">개인정보처리지침</a> | <a href="">고객지원</a> | <a href="">1:1 문의</a>
        </p>
      </div>
      <div class="sns">
        <a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook fa-fade"></i></a>
        <a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-fade"></i></a>
        <a href="http://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube fa-fade"></i></a>
      </div>
    </div>
  </footer>
</th:block>
</html>