<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fragment="content">
  <div class="loginLogo"><h1>회원가입</h1></div>
  <form action="" method="post">
    <div class="signUpEmailDiv">
      <!-- 이메일 로고, 회원가입 할 이메일, 중복확인 버튼 -->
      <img th:src="@{/image/userImgs/envelope-solid.svg}" class="emailLogo"><input type="text" name="email" placeholder="이메일" size="60"><button class="mailDupliCheckBtn">중복 확인</button>
    </div>
    <div class="dupliCheckDiv">
      <!-- 중복된 이메일인 경우 removeClass를 이용해 small태그로 감싸진 중복된 이메일입니다 d-none제거 -->
      <small class="d-none dupliMail">중복된 이메일입니다</small>
      <!-- 사용 가능한 이메일인 경우 removeClass를 이용해 small태그로 감싸진 사용 가능한 이메일입니다 d-none 제거 -->
      <small class="d-none availableMail">사용 가능한 이메일입니다.</small>
    </div>

    <div class="nicknameDiv">
      <!-- 닉네임 입력 받을 input 태그, 닉네임 중복확인 버튼 -->
      <img th:src="@{/image/userImgs/user-solid.svg}" class="userLogo"><input type="text" name="nickname" placeholder="닉네임" size="60"><button class="nicknameDupliCheckBtn">중복 확인</button>
    </div>
    <div class="dupliCheckDiv">
      <!-- 중복된 닉네임인 경우 removeClass를 이용해 small태그로 감싸진 중복된 닉네임입니다 d-none제거 -->
      <small class="d-none dupliNickname">중복된 닉네임입니다</small>
      <!-- 사용 가능한 닉네임인 경우 removeClass를 이용해 small태그로 감싸진 사용 가능한 닉네임입니다 d-none 제거 -->
      <small class="d-none availableNickname">사용 가능한 닉네임입니다.</small>
    </div>

    <div class="passwordDiv">
      <!-- 회원가입 때 비밀번호 입력받을 input태그 -->
      <img th:src="@{/image/userImgs/lock-solid.svg}" height="30px" width="30px" class="emailLogo"><input type="password" name="password" placeholder="비밀번호" size="60">
    </div>

    <div class="passwordDiv">
      <!-- 비밀번호 확인 값 받을 input태그 -->
      <img th:src="@{/image/userImgs/lock-solid_light.svg}" height="30px" width="30px" class="emailLogo"><input type="password" name="passwordCheck" placeholder="비밀번호 확인" size="60">
    </div>
    <div class="signUpBtnDiv">
      <button type="submit" class="btn signUpBtn">회원가입</button>
    </div>
  </form>
</th:block>
</html>