<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body>
<h1>회원가입</h1>

<form th:action="@{/user/signup}" method="post">
    <!--이메일 입력-->
    <input type="email" name="userEmail" placeholder="이메일" id="userEmail" onblur="emailCheck()" size="60">
    <p id="check-result1"></p> <!--처리결과 보여주는 곳-->
    <input type="text" name="userNickName" placeholder="닉네임" id="userNickName" onblur="nickNameCheck()" size="60">
    <p id="check-result2"></p>
    <input type="password" name="password" placeholder="비밀번호" id="password1" size="60"> <br>
    <input type="password" name="checkPassword" placeholder="비밀번호 확인" id="password2" size="60"> <br>
    <input type="button" onclick="test()" value="확인하기"> <br> <!--비밀번호가 같은지 확인-->
    <br>
    <!--    <button  >회원가입</button> &lt;!&ndash;disabled="disabled"는 버튼 비활성화&ndash;&gt;-->
    <button type="submit" class="btn signUpBtn" id="target_btn" disabled="disabled" >회원가입</button>
</form>



<script th:inline="javascript">
    const message = [[${message}]];

    if(message){
        alert(message);
    }
</script>
<script type="text/javascript">
    <!--중복체크-->
    //이메일 입력값을 가져오고,
    //입력값을 서버로 전송하고 똑같은 이메일이 있는지 체크한 후
    //사용 가능 여부를 이메일 입력창 아래에 표시
    const emailCheck = () => {
        const email = document.getElementById("userEmail").value; // 입력값을 가져오는 내용
        const checkResult = document.getElementById("check-result1"); // <p id="check-result"></p> 이거 가져오는 요소
        console.log("입력한 이메일",email); // 확인용 콘솔
        $.ajax({
            //요청방식 post,url: "email-check",데이터: 이메일
            type: "post", //post방식으로
            url: "/user/email-check", //이주소에 보내겠다
            data: {
                "memberEmail": email //보내고자하는 데이터의 내용 memberEmail이 파라미터이름 email은 사용자가 입력한 이메일 값
            },
            success: function (res){ //요청 성공시
                console.log("요청성공", res); //콘솔 확잉용
                if (res === 1){
                    console.log("사용가능한 이메일");
                    checkResult.style.color = "green";
                    checkResult.innerHTML = "사용 가능한 이메일입니다.";
                } else {
                    console.log("이미 사용중인 이메일");
                    checkResult.style.color = "red";
                    checkResult.innerHTML = "사용 중인 이메일입니다."
                }
            },
            error: function (err){
                console.log("에러발생", err);
            }
        })
    }
</script>
<script type="text/javascript">
    <!--닉네임 중복체크-->
    const nickNameCheck = () => {
        const nickName = document.getElementById("userNickName").value;
        const checkResult2 = document.getElementById("check-result2");
        console.log("입력한 닉네임",nickName);
        $.ajax({
            type: "post",
            url: "/user/nickName-check",
            data: {
                "memberNickName":nickName
            },
            success:function (res){
                console.log("요청성공",res);
                if (res === 1){
                    console.log("사용가능한 닉네임");
                    checkResult2.style.color = "green";
                    checkResult2.innerHTML = "사용 가능한 닉네임입니다."
                } else {
                    console.log("이미 사용중인 닉네임");
                    checkResult2.style.color = "red";
                    checkResult2.innerHTML = "사용 중인 닉네임입니다."
                }
            },
            error:function (err){
                console.log("에러발생",err);
            }
        })
    }

    <!--입력한 비밀번호와 입력한 비밀번호 확인이 일치할 시 회원가입 버튼이 활성화되고 그렇지 않으면 활성화가 안됨-->
    function test(){
        console.log("dddd")
        var v1 = document.getElementById('password1').value; <!--password1의 값을 v1로 지정함-->
        var v2 = document.getElementById('password2').value; <!--password2의 값을 v2로 지정함-->
        console.log(v1, v2)
        if(v1 != v2) { <!--v1와 v2의 값이 다르다면-->
            alert("비밀번호가 일치하지 않습니다");
            const target = document.getElementById('target_btn');
            target.disabled = true; <!--버튼이 비활성화 되있는 상태에서 true라서 그대로 비활성화 되있음-->
            return false;
        } else {
            alert("비밀번호가 일치합니다");
            const target = document.getElementById('target_btn');
            target.disabled = false; <!--버튼이 비활성화 되있는 상태에서 false로 바껴서 활성화가 됨-->
            return true;
        }
    }
    function back(){
        history.back();
    } <!--뒤로 가기-->
</script>

</body>
</html>