<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>답변하기</h1>
<form action="updateInqAns" method="post">
    <input type="hidden" name="inqCode" id="inqCode" th:value="${code}">
    내용 : <input type="text" name="answerContents">
    <button type="submit">등록</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const code = urlParams.get('code');

        if (code) {
            console.log(code)
            document.getElementById('inqCode').value = code;
        }
    });
</script>
</body>
</html>