<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/e8f09b5de5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/inquiryInsert.css}"/>
    <script defer th:src="@{/js/main.js}"></script>
    <title>Inquiry Submit</title>
</head>
<body>
<header id="header_bar">
    <nav id="nav_bar">
        <div class="main_title">
            <a th:href="@{/}"><i class="fa-solid fa-dog"></i> PetTales</a>
        </div>
        <div class="main_menus">
            <div class="main_menu"><a th:href="@{/}">Home</a></div>
            <div class="main_menu"><a th:href="@{/anno/allList}">공지사항</a></div>
            <div class="main_menu"><a th:href="@{/plan/make_plan}">계획 시작</a></div>
        </div>
        <div class="main_mypage">
            <a href="#"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a>
        </div>
    </nav>
</header>
<form action="insertInquiry" method="post">
    <div class="inquiryContainer">
        <div class="inquiryText">
            <h2>문의 양식</h2>
            <p>문의하실 내용을 작성하여 보내주시면 빠른 시일 내에 답변 드리도록 하겠습니다.</p>
        </div>
        <div class="inquiryContents">
            <div class="boxFlex">
                <textarea class="titleBox" type="text" name="inqTitle" placeholder="문의 제목"></textarea>
                <textarea class="categoryBox" type="text" name="inqClassi" placeholder="문의 분류"></textarea><br>
            </div>
            <textarea rows="15" class="textBox" name="inqContents" placeholder="문의 내용을 적어주세요"></textarea>
<!--            <input class="textBox" type="text" name="inqContents" placeholder="문의 내용을 적어주세요"><br>-->
            <input type="hidden" name="userCode" th:value="${#authentication.principal.userCode}">
        </div>
        <div class="submitBtn">
            <button type="submit">등록</button>
        </div>
    </div>
</form>


<!--<form action="insertInquiry" method="post">-->
<!--    제목 : <input type="text" name="inqTitle">-->
<!--    분류 : <input type="text" name="inqClassi">-->
<!--    내용 : <input type="text" name="inqContents"><br>-->
<!--    <input type="hidden" name="userCode" th:value="${#authentication.principal.userCode}">-->
<!--    -->
<!--</form>-->

<!--이미지 업로드 :-->
<!--<form action="single-file" method="post" enctype="multipart/form-data">-->
<!--    파일 : <input type="file" name="singleFile"><br>-->
<!--    파일 설명 : <input type="text" name="singleFileDescription"><br>-->
<!--    <input type="submit">-->
<!--</form>-->
<footer>
    <div id="footer">
        <div class="comInfo">
            <div class="comLogo"><i class="fa-solid fa-dog"></i></div>
            <div class="comInfo_text">
                <p>
                    주식회사 펫테일 | 대표 김아무개<br>
                    사업자 등록 번호 123-456-78910<br>
                    서울특별시 구로구 경인로 557 삼영빌딩 4층<br>
                    contact@withmung.com<br>
                </p>
            </div>
        </div>
        <div class="etc">
            <p>
                <a href="">이용약관</a> | <a href="">개인정보처리지침</a> | <a href="">고객지원</a> | <a href="">1:1 문의</a>
            </p>
        </div>
        <div class="sns">
            <a th:href="@{http://www.facebook.com}" target="_blank"><i class="fa-brands fa-square-facebook fa-fade"></i></a>
            <a th:href="@{http://www.instagram.com}" target="_blank"><i class="fa-brands fa-instagram fa-fade"></i></a>
            <a th:href="@{http://www.youtube.com}" target="_blank"><i class="fa-brands fa-youtube fa-fade"></i></a>
        </div>
    </div>
</footer>
</body>
</html>