<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semiproject.pettales.company.model.CompanyDAO">

    <resultMap id="companyResult" type="com.semiproject.pettales.company.dto.CompanyDTO">
        <id property="companyCode" column="COMPANY_CODE" />
        <result property="companyClassi" column="COMPANY_CLASSI"/>
        <result property="companyStatus" column="COMPANY_STATUS" />
        <result property="companyName" column="COMPANY_NAME" />
        <result property="endDate" column="COMPANY_ADDRESS" />
        <result property="companyLat" column="COMPANY_LAT" />
        <result property="companyHar" column="COMAPNY_HAR" />
        <result property="phoneNumber" column="COMPANY_PHONE_NUMBER" />
        <result property="companyTime" column="COMPANY_TIME" />
        <result property="registDate" column="REGIST_DATE" />
        <result property="updateDate" column="UPDATE_DATE" />
        <result property="petPosbl" column="COMPANY_PET_POSBL" />
        <result property="companyCtprvn" column="COMPANY_CTPRVN" />
        <result property="companySigngu" column="COMPANY_SIGNGU" />
        <result property="zipNum" column="COMPANY_ZIP_NUM" />
        <result property="info" column="COMPANY_INFO" />
        <result property="url" column="COMPANY_URL" />
        <result property="companyCertified" column="COMPANY_CERTIFIED" />
    </resultMap>

    <select id="selectAllCompany" resultMap="companyResult">
        SELECT
        COMPANY_CODE,
        COMPANY_CLASSI,
        COMPANY_STATUS,
        COMPANY_NAME,
        COMPANY_CTPRVN
        FROM COMPANY_TABLE
        LIMIT #{pageStart}, #{pageLimit}
    </select>

    <select id="countCompany" resultType="int">
        SELECT
        COUNT(*)
        FROM
        COMPANY_TABLE
    </select>

    <select id="countCompanyByCtprvn" resultType="int">
        SELECT
        COUNT(*)
        FROM
        COMPANY_TABLE
        WHERE
        COMPANY_CTPRVN = #{companyCtprvn}
        <if test="companyClassi != null and companyClassi != ''">
            AND
            COMPANY_CLASSI = #{companyClassi}
        </if>
    </select>

    <select id="selectAllCompanyByCtprvn" resultMap="companyResult">
        SELECT
        COMPANY_CODE,
        COMPANY_CLASSI,
        COMPANY_STATUS,
        COMPANY_NAME,
        COMPANY_CTPRVN
        FROM COMPANY_TABLE
        WHERE
        COMPANY_CTPRVN = #{companyCtprvn}
        <if test="companyClassi != null and companyClassi != ''">
            AND
            COMPANY_CLASSI = #{companyClassi}
        </if>
        LIMIT #{pageStart}, #{pageLimit}
    </select>

    <select id="getAllCategory" resultType="String">
        SELECT DISTINCT
            COMPANY_CLASSI
        FROM COMPANY_TABLE
    </select>

    <select id="getAllRegion" resultType="String">
        SELECT DISTINCT
            COMPANY_CTPRVN
        FROM COMPANY_TABLE
    </select>

</mapper>